@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Nunito', sans-serif;
    background: #16302B;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}